/.classpath
/.idea
/.xml
/.json
/.txt
/.html
.idea
.gitignore
.classpath
MavenProject.iml
/target/surefire-reports/testng-reports.js
/target/surefire-reports/2021-01-27T21-03-02_687.dumpstream
/allure-results/6c610e8d-9687-4558-84cd-8a17228f9ce9-result.json
/allure-results/6dd490c5-4aba-4258-a976-7b401eba1d88-container.json
/allure-results/33ce0859-568f-42d8-8149-f78c7443b35a-result.json
/allure-results/74ad6cb9-2925-4315-9dba-2ed31431ad6b-result.json
/allure-results/119b0979-7131-425a-a728-264e05f10641-result.json
/allure-results/eb9bded7-a08e-4273-a6a0-235ea9ad3f7a-container.json
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.m2e.core.prefs
/allure-results/f367a591-49b8-4e2c-83b7-409e8d2320e8-container.json
